<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Книга</title>
</head>
<body>
    <style>
   body {
    background: #333; /* Цвет фона */
    color: #fc0; /* Цвет текста */
   }
  </style>
    <center>
    <h1>Книги </h1>
    <form action="">
    <label >Название книги:</label>
    <input type="text"><br>
        Фото обложки: <br> <img src="https://editus.ru/img/services/verstka/cover_6.jpg" width=150px ><br>
        Изменить: <input type="file" ><br>
    <label ><p>Цена:
        <select>
        <option>(BYN)</option>
        <option>(USA)</option>
        </select>
    </label><input type="text" placeholder="20.00"></p><br>
    <label >Авторы:</label>
    <select name="select" size="3" multiple>
        <option value="s2">Джеффри Форд</option>
        <option value="s3">Филип Дик</option>
        <option value="s4">Ирвин Уэлш </option>
        <option value="s2">Джеффри Форд</option>
        <option value="s3">Филип Дик</option>
        <option value="s4">Ирвин Уэлш </option>
        <option value="s2">Джеффри Форд</option>
        <option value="s3">Филип Дик</option>
        <option value="s4">Ирвин Уэлш </option>
        <option value="s2">Джеффри Форд</option>
        <option value="s3">Филип Дик</option>
        <option value="s4">Ирвин Уэлш </option>
        <option value="s2">Джеффри Форд</option>
        <option value="s3">Филип Дик</option>
        <option value="s4">Ирвин Уэлш </option>
    </select><br>

    <label>Cерия:</label> <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select><br>
    <label >Жанр:</label> <input  type="text" placeholder="Фантастика"><br>
    <label>Год издания:</label>
        <input type="date" id="start" name="trip-start"
        value="2018-07-22"
        min="2020-01-01" max="2030-12-31">

    <p>Страниц: <input type="number" value="0" min="0" max="10000"><br>
    <label >Переплет книги:</label>
        <input type="text" placeholder="Твердый"><br>
      <label >Возрастное ограничение:</label>
        <input type="text" placeholder="+8"><br>

    <label >Издательство:</label>
    <select name="select" size="5" multiple>
        <option value="s2">Минск</option>
        <option value="s3">Москва</option>
        <option value="s4">Санкт-Петербург</option>
        <option value="s2">Америка</option>
     </select><br>

     <label >Вес(гр):</label>
    </form>

    </center>
</body>
</html>